.title-main{
     padding: 6px 20px !important;
     letter-spacing: 1px;
     font-size: 12px;
     font-weight: bold;
     text-transform: uppercase;
     color: #b4bfcc;
}

#sidebar-menu > ul > li > button {
     color: #8699ad; 
     display: block; 
     padding: 13px 20px; 
     font-size: 13.3px; 
     position: relative; 
     -webkit-transition: all 0.5s; 
     transition: all 0.5s; 
}
.title-main{
     padding: 6px 20px !important;
     letter-spacing: 1px;
     font-size: 12px;
     font-weight: bold;
     text-transform: uppercase;
     color: #b4bfcc;
}
#sidebar-menu > ul > li > a.active{
     background-color:rgba(83, 131, 255,0.8);
}

#sidebar-menu > ul > li > a:hover{
     background-color:rgba(83, 131, 255,0.8);
     color: rgba(0,0,0,1);
}

#sidebar-menu > ul > li > a > i{
     color: #0a0a0a;
}
#sidebar-menu > ul > li > a > i.active{
     color: rgba(0,0,0,1);
}
.open{
     display: none;
}