.select-element-container {
  display: flex;
  align-items: center;
}
.remove-select-div {
  cursor: pointer;
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  margin-top: 22px;
}
.users {
  margin-top: 17px;
}
.select-container{
  display:flex ;
  align-items: center;
}
.modal-footer{
  justify-content: center;
}
.addbtn{
  justify-content: center;
}
