.logo-custom{
    width: 90%;
    display: flex;
    align-items: center;
}

.logo-custom p{
    margin: 0px 0px;
    color:white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header{
    background-color:#3d4977;
}   

.custom-btn{
    background-color: #3d4977;
    color: white;
}

.custom-btn:hover{
    color: rgba(225, 225, 225, 0.7);
}

.menu-icon{
    font-size: 30px;
}

.header-icon-container{
    height: 70px;
    display: flex;
    align-items: center;
}

.header-icon-container li{
    list-style: none;
}

.topbar-custom{
    width: 30% !important;
    display: flex;
    align-items: center;
    background-color: #3d4977 ;
    text-align: start;
    background: #3d4977;
}

.classic{
    background-color: #ffffff ;
    background: #ffffff;
}
