.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  overflow: hidden;
  padding-left: 3px;
  padding-top: 3px;
  
}

.react-tagsinput--focused {
  border-color: #7a6fbe;
}

.react-tagsinput-tag {
  background-color: #7a6fbe;
  border-radius: 2px;
  border: 1px solid #7a6fbe;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 3px;
  margin-right: 3px;
  padding: 5px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 80px;
}