.custom{
    border-radius: 4px;
    background: #fff;
    /* box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12); */
      padding: 14px 13px 15px 4px;
  cursor: pointer;
  height: 140px;
}

.custom:hover{
     transform: scale(1.05);
     padding: 14px 13px 15px 4px;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  border: 1px solid rgba(128, 128, 128, 0.3)   ;
}

.card-body-wrapper{
    display: flex;
}
.icon-container{
    font-size: 30px;
    display: flex;
    padding: 0px 10px;
}
.row{
  justify-content: space-around;
}