@fontface {
  font-family: 'Bungee Inline', cursive;
  src: url('https://fonts.googleapis.com/css?family=Poppins:400,500,600')
}

body {
  font-family: "Poppins", sans-serif;
}
.table td, .table th {
  white-space: pre-line;
}
.btn-style {
  background-color: "#000b1a";
}

.editor-mail{
  border: 1px solid #ced4da !important;
  padding: 0px!important;
    border-radius: .25rem;
    min-height: 100px;
}
.editor-box{
  padding-left: 10px;
}