body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.passwordStyle{
  color:red;
  font-weight:800;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

tbody + thead{
  display: none;
}

.headcol {
  position: absolute;
  width:10%;
  left: 0;
}
.headcol1 {
  position: absolute;
  width:10%;
  left: 10%;
}

.tableScroll {
  width: 83%;
  overflow-x: scroll;
  margin-left: 19%;
  overflow-y: visible;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.passwordStyle{
  color:red;
  font-weight:800;
}

.table .thead-dark th {
  font-size: 10px;
}

.picky{
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  margin-top: -7%;
}

